https://learn.codexpanse.com/manage/courses/

```css
.custom-theme.fr-box.fr-basic.fr-top .fr-wrapper {
  height: 300px;
  overflow: scroll;
}

.supporthero-button { display: none !important;}

#supporthero-button { display: none !important;}


.quiz-survey__question-body .form-row.mb-0 {
    background-color:
    red;
}

.action-buttons__container {
  float: left !important;
}
```
